
@{
    ViewBag.Title = "DashBoard";
}


<section id="shop-page" class="pt-10 pb-10 gray-bg">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search pb-1 pt-1" style="padding: 10px 30px;">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">Showcase</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">

                        <div class="singel-publication mt-10">
                            <div style="background-color: #B7B1F2; box-shadow: 2px 8px 19px -9px #B7B1F2; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff;">IT Helpdesk</p>
                            </div>

                            <div class="name mt-3">
                                <p class="text-center" style="color: #505050;"><a href="#" style="color: #505050;">Open Tickets</a></p>
                                <p class="text-center" style="color: #505050;"><a href="#" style="color: #505050;">Closed Tickets</a></p>
                                <p class="text-center" style="color: #505050;"><a href="#" style="color: #505050;"></a></p>
                                <p></p>
                            </div>


                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #FFE700; box-shadow: 2px 8px 19px -9px #FFE700; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff;">Executive Corner</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center"><a href="#" style="color: #505050;">Sample Request</a></p>
                                <p class="text-center"><a href="@Url.Action("Quotation", "Inquiry")" style="color: #505050;">Quotation</a></p>
                                <p class="text-center"><a href="#" style="color: #505050;">Client Meeting</a></p>
                                <p></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #EFBC9B; box-shadow: 2px 8px 19px -9px #EFBC9B; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff;">HR</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center" style="color: #505050;"><a href="#" style="color: #505050;">Travel Desk</a></p>
                                <p class="text-center" style="color: #505050;"><a href="#" style="color: #505050;">Claims</a></p>
                                <p class="text-center" style="color: #505050;"><a href="#" style="color: #505050;">Employee Details</a></p>
                            </div>
                        </div> 
                    </div>

                </div> <!-- row -->
            </div>
        </div>
    </div>

    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search pb-1 pt-1" style="padding: 10px 30px;">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">Transactions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">

                        <div class="singel-publication mt-10">
                            <div style="background-color: #15c5eb; box-shadow: 2px 8px 19px -9px #15c5eb; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff; ">Order</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center"><a href="@Url.Action("SalesOrder", "Order")" style="color: #505050;">Pending</a></p>
                                <p class="text-center"><a href="@Url.Action("SalesOrder", "Order")" style="color: #505050;">In-Process</a></p>
                                <p class="text-center"><a href="@Url.Action("SalesOrder", "Order")" style="color: #505050;">Completed</a></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #9A7B4F; box-shadow: 2px 8px 19px -9px #9A7B4F; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff;">Delivery</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center" style="color: #505050;">Delivered</p>
                                <p class="text-center" style="color: #505050;">In-Process</p>
                                <p class="text-center" style="color: #505050;">Not Delivered</p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #db20d7; box-shadow: 2px 8px 19px -9px #db20d7; margin-top: -2%;">
                                <p class="text-center" style="color: #ffffff;">Invoice</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center">Pending</p>
                                <p class="text-center">In-Process</p>
                                <p class="text-center">Completed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search pb-1 pt-1" style="padding: 10px 30px;">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">

                        <div class="singel-publication mt-10">
                            <div style="background-color: #f61111; box-shadow: 2px 8px 19px -9px #f61111; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Feedback</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center"><a href="@Url.Action("Feedback", "Home")?vstatus=Positive" style="color: #505050;">Positive</a></p>
                                <p class="text-center"><a href="@Url.Action("Feedback", "Home")?vstatus=Negative" style="color: #505050;">Negative</a></p>
                                <p class="text-center"><a href="@Url.Action("Feedback", "Home")?vstatus=Neutral" style="color: #505050;">Neutral</a></p>
                                <p class="text-center mb-4"></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #45d009; box-shadow: 2px 8px 19px -9px #45d009; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">New Arrivals</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("Yarn", "Product")" style="color: #505050;">Yarn</a></p>
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("Fabric", "Product")" style="color: #505050;">Fabric</a></p>
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("Garments", "Product")" style="color: #505050;">Garments</a></p>
                                <p class="text-center" style="color: #505050; margin-bottom:-2%;"><a href="@Url.Action("New Products", "Product")" style="color: #505050;">New Products</a></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #0fe1e1; box-shadow: 2px 8px 19px -9px #0fe1e1; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Reorder</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center"><a href="@Url.Action("Reorder", "Order")?vstatus=Open" style="color: #505050;">Open</a></p>
                                <p class="text-center"><a href="@Url.Action("Reorder", "Order")?vstatus=In-Process" style="color: #505050;">In-Process</a></p>
                                <p class="text-center"><a href="@Url.Action("Reorder", "Order")?vstatus=Closed" style="color: #505050;">Closed</a></p>
                                <p class="text-center mb-4"></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>

                </div> <!-- row -->

            </div>

        </div>
    </div> <!-- container -->

    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search pb-1 pt-1" style="padding: 10px 30px;">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">Showcase</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">

                        <div class="singel-publication mt-10">
                            <div style="background-color: #da17f1; box-shadow: 2px 8px 19px -9px #da17f1; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Catalogue</p>
                            </div>

                            <div class="name mt-3">
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("YarnCatalogue", "Product")" style="color: #505050;">Yarn</a></p>
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("FabricCatalogue", "Product")" style="color: #505050;">Fabric</a></p>
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("GarmentsCatalogue", "Product")" style="color: #505050;">Garments</a></p>
                                <p></p>
                            </div>


                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #fea11d; box-shadow: 2px 8px 19px -9px #fea11d; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Sample Order</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center"><a href="@Url.Action("SampleRequest", "Order")" style="color: #505050;">Sample Request</a></p>
                                <p class="text-center"><a href="@Url.Action("DisplayRequest", "Order")?vstatus=P" style="color: #505050;">In-Process</a></p>
                                <p class="text-center"><a href="@Url.Action("DisplayRequest", "Order")?vstatus=N" style="color: #505050;">Not Ready</a></p>
                                <p></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #FF9A8A; box-shadow: 2px 8px 19px -9px #FF9A8A; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff;">Contact Us</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("Contact", "Home")" style="color: #505050;">Email (Email Details)</a></p>
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("Contact", "Home")" style="color: #505050;">Phone (Contact Details)</a></p>
                                <p class="text-center" style="color: #505050;"><a href="@Url.Action("Contact", "Home")" style="color: #505050;">Office Address</a></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>

                </div> <!-- row -->
            </div>
        </div>
    </div>


</section>
