<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!--====== Favicon Icon ======-->
    @*<link rel="shortcut icon" href="/Web/images/favicon.png" type="image/png">*@
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/Web/css/slick.css">
    <link rel="stylesheet" href="/Web/css/animate.css">
    <link rel="stylesheet" href="/Web/css/nice-select.css">
    <link rel="stylesheet" href="/Web/css/jquery.nice-number.min.css">
    <link rel="stylesheet" href="/Web/css/magnific-popup.css">
    <link rel="stylesheet" href="/Web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Web/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Web/css/default.css">
    <link rel="stylesheet" href="/Web/css/style.css">
    <link rel="stylesheet" href="/Web/css/responsive.css">

    <script src="~/JS/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            
            var CustLoginId = sessionStorage.getItem("CustId");
            var CustEmailId = sessionStorage.getItem("EmailId");
            var CustCompanyName = sessionStorage.getItem("CompanyName");
            var CustMobileNo = sessionStorage.getItem("Mobile");
            var CustCreatedDate = sessionStorage.getItem("CreateDate");
            var CustName = sessionStorage.getItem("CustName");
            var CurrentDate = new Date();
            var CurrentYear = CurrentDate.getFullYear();
            var CustTypeYears = CurrentYear - CustCreatedDate;

            if (CustLoginId == null || CustLoginId == 0 || CustEmailId == null || CustEmailId == "") {
                window.location.href = '/Home/Index';
            }

            $("#divCustCompanyName").html(CustCompanyName);
            $("#divCustAccount").html(CustLoginId);
            $("#divCustContact").html(CustMobileNo);
            $("#divCustYears").html(CustTypeYears);

        });

    </script>
</head>
<!--Kanchan T-->
<body>
    <div>
        @*<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>*@

        <!--====== PRELOADER PART START ======-->

        <div class="preloader">
            <div class="loader rubix-cube">
                <div class="layer layer-1"></div>
                <div class="layer layer-2"></div>
                <div class="layer layer-3 color-1"></div>
                <div class="layer layer-4"></div>
                <div class="layer layer-5"></div>
                <div class="layer layer-6"></div>
                <div class="layer layer-7"></div>
                <div class="layer layer-8"></div>
            </div>
        </div>

        <!--====== PRELOADER PART START ======-->
        <!--====== HEADER PART START ======-->

        <header id="header-part">

            <!--<div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="header-contact text-lg-left text-center">
                                <ul>
                                    <li><img src="/Web/images/all-icon/map.png" alt="icon"><span>Gopal Bhavan, 199, Princess Street, Mumbai-400 002</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="header-contact text-lg-left text-center">
                                <ul class="pull-right"><li><img src="/Web/images/all-icon/email.png" alt="icon"><span>info@banswarasyntex.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>--> <!-- row -->
                <!--</div>--> <!-- container -->
            <!--</div>--> <!-- header top -->

            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div>
                                <a href="@Url.Action("DashBoard", "Home")">
                                    <img src="~/Web/images/logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 navigation">
                                <nav class="navbar navbar-expand-lg">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item">
                                                <a class="active" href="@Url.Action("DashBoard", "Home")">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("About", "Home")">About us</a>
                                            </li>
                                            @*<li class="nav-item">
                            <a href="courses.html">Courses</a>
                            <ul class="sub-menu">
                                <li><a href="courses.html">Courses</a></li>
                                <li><a href="courses-singel.html">Course Singel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="events.html">Events</a>
                            <ul class="sub-menu">
                                <li><a href="events.html">Events</a></li>
                                <li><a href="events-singel.html">Event Singel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="teachers.html">Our teachers</a>
                            <ul class="sub-menu">
                                <li><a href="teachers.html">teachers</a></li>
                                <li><a href="teachers-singel.html">teacher Singel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-singel.html">Blog Singel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="shop.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-singel.html">Shop Singel</a></li>
                            </ul>
                        </li>*@
                                            <li class="nav-item">
                                                <a href="@Url.Action("Contact", "Home")">Contact US</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav> <!-- nav -->
                            </div>

                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-6 navigation">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="active" href="@Url.Action("DashBoard", "Home")">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("About", "Home")">About us</a>
                                        </li>-->
                                        @*<li class="nav-item">
                                            <a href="courses.html">Courses</a>
                                            <ul class="sub-menu">
                                                <li><a href="courses.html">Courses</a></li>
                                                <li><a href="courses-singel.html">Course Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="events.html">Events</a>
                                            <ul class="sub-menu">
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="events-singel.html">Event Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="teachers.html">Our teachers</a>
                                            <ul class="sub-menu">
                                                <li><a href="teachers.html">teachers</a></li>
                                                <li><a href="teachers-singel.html">teacher Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog.html">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-singel.html">Blog Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop.html">Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-singel.html">Shop Singel</a></li>
                                            </ul>
                                        </li>*@
                                        <!--<li class="nav-item">
                                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>--> <!-- nav -->
                        <!--</div>-->


                        <div class="col-lg-4 col-md-4">
                            <div class="support-button float-right d-none d-md-block">
                                <div class="support float-left">
                                    @*<div class="icon">
                                        <img src="/Web/images/all-icon/support.png" alt="icon">
                                    </div>*@
                                    <div class="cont">
                                        <span style="font-size:13px;">You are our valued Customer since <span id="divCustYears" style="font-size:13px;"></span> years</span>
                                        <p>Company Name : <span id="divCustCompanyName" style="font-size:12px;"></span></p>
                                        <p>Customer Account : <span id="divCustAccount" style="font-size:12px;"></span></p>
                                        <p>Customer Contact : <span id="divCustContact" style="font-size:12px;"></span></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> <!-- row -->
                    <!--<div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="active" href="@Url.Action("DashBoard", "Home")">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("About", "Home")">About us</a>
                                        </li>-->
                                        @*<li class="nav-item">
                                <a href="courses.html">Courses</a>
                                <ul class="sub-menu">
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="courses-singel.html">Course Singel</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="events.html">Events</a>
                                <ul class="sub-menu">
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="events-singel.html">Event Singel</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="teachers.html">Our teachers</a>
                                <ul class="sub-menu">
                                    <li><a href="teachers.html">teachers</a></li>
                                    <li><a href="teachers-singel.html">teacher Singel</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-singel.html">Blog Singel</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-singel.html">Shop Singel</a></li>
                                </ul>
                            </li>*@
                                        <!--<li class="nav-item">
                                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>--> <!-- nav -->
                        <!--</div>

                    </div>--> <!-- row -->
                </div> <!-- container -->
            </div> <!-- header logo support -->

            <div class="navigation">
                <div class="container">
                    <!--<div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="active" href="@Url.Action("DashBoard", "Home")">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("About", "Home")">About us</a>
                                        </li>-->
                                        @*<li class="nav-item">
                                            <a href="courses.html">Courses</a>
                                            <ul class="sub-menu">
                                                <li><a href="courses.html">Courses</a></li>
                                                <li><a href="courses-singel.html">Course Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="events.html">Events</a>
                                            <ul class="sub-menu">
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="events-singel.html">Event Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="teachers.html">Our teachers</a>
                                            <ul class="sub-menu">
                                                <li><a href="teachers.html">teachers</a></li>
                                                <li><a href="teachers-singel.html">teacher Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog.html">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-singel.html">Blog Singel</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop.html">Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-singel.html">Shop Singel</a></li>
                                            </ul>
                                        </li>*@
                                        <!--<li class="nav-item">
                                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>--> <!-- nav -->
                        <!--</div>
                        
                    </div>--> <!-- row -->
                </div> <!-- container -->
            </div>

        </header>

        <!--====== HEADER PART ENDS ======-->
        

    </div>
    <div>
        @RenderBody()
       
        <!--====== FOOTER PART START ======-->

        <footer id="footer-part">
           
            <div class="footer-copyright pt-10 pb-25">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright text-md-left text-center pt-10">
                                <p>© 2025, Banswara Syntex Limited, INDIA. All Rights Reserved. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="copyright text-md-right text-center pt-10">
                                <p>ISO 14001:2004 | SRTEPC | Since 1976 | ISO, AATCC, ASTM, LS & Co., M & S</p>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- footer copyright -->
        </footer>

        <!--====== FOOTER PART ENDS ======-->
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@


    <!--====== jquery js ======-->
    <script src="/Web/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/Web/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Web/js/bootstrap.min.js"></script>
    <script src="/Web/js/slick.min.js"></script>
    <script src="/Web/js/jquery.magnific-popup.min.js"></script>
    <script src="/Web/js/waypoints.min.js"></script>
    <script src="/Web/js/jquery.counterup.min.js"></script>
    <script src="/Web/js/jquery.nice-select.min.js"></script>
    <script src="/Web/js/jquery.nice-number.min.js"></script>
    <script src="/Web/js/jquery.countdown.min.js"></script>
    <script src="/Web/js/validator.min.js"></script>
    <script src="/Web/js/ajax-contact.js"></script>
    <script src="/Web/js/main.js"></script>

    <!--====== Map js ======-->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="js/map-script.js"></script>*@


</body>
</html>
